{% extends "layouts/default.njk" %}
{% block bodyClass %}page-404{% endblock %}
{% block content %}
<div class="container"><div class="error-page"><h1>404</h1><p>Page not found</p><a href="/" class="btn btn-primary">Go back</a></div></div>
{% endblock %}
