{% extends "layouts/default.njk" %}

{% block bodyClass %}page-404{% endblock %}

{% block content %}
<div class="container container-narrow">
  <div class="error-page">
    <h1>404</h1>
    <p>The page you're looking for doesn't exist.</p>
    <a href="/" class="btn btn-primary">Go Home</a>
  </div>
</div>
{% endblock %}
