{# Rich Text Section Template #}
<section class="section-rich-text">
    <div class="container container-narrow">
        <div class="rich-text-content">
            {{ section.settings.content | safe }}
        </div>
    </div>
</section>
